@charset "UTF-8";
@import 'func.scss';

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
      font-size: calc(81.25% + 2 * (100vw - 320px) / 55);
      font-size: calc(13px + 2 * (100vw - 320px) / 55);
  }
}

@media screen and (min-width: 375px) {
  html {
      /* iPhone6的375px尺寸作为16px基准，414px正好18px大小, 600 20px */
      font-size: calc(100% + 2 * (100vw - 375px) / 37);
      font-size: calc(16px + 2 * (100vw - 375px) / 37);
  }
}
@media screen and (min-width: 412px) {
  html {
      /* 414px-1000px每100像素宽字体增加1px(18px-22px) */
      font-size: calc(112.5% + 4 * (100vw - 412px) / 586);
      font-size: calc(18px + 4 * (100vw - 412px) / 586);
  }
}
@media screen and (min-width: 600px) {
  html {
      /* 600px-1000px每100像素宽字体增加1px(20px-24px) */
      font-size: calc(125% + 4 * (100vw - 600px) / 400);
      font-size: calc(20px + 4 * (100vw - 600px) / 400);
  }
}
@media screen and (min-width: 1000px) {
  html {
      /* 1000px往后是每100像素0.5px增加 */
      font-size: calc(137.5% + 6 * (100vw - 1000px) / 1000);
      font-size: calc(22px + 6 * (100vw - 1000px) / 1000);
  }
}



.header_slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(75);
  padding-top: rem(15);

  &_logo {
    float: left;
    padding-left: rem(40);
    width: rem(186);
    height: rem(75);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &_links {
    float: right;
    padding-right: rem(30);
    height: rem(75);
    line-height: rem(75);
    
    a {
      padding-left: rem(20);
      color: #fff;
    }

    &_company {
      padding-right: rem(18);
      background: url('{{imgDomain}}/m_header_arrow@1x.png') right calc(50% + 1px) no-repeat;
      background: image-set( url('{{imgDomain}}/m_header_arrow@1x.png') 1x, url('{{imgDomain}}/m_header_arrow@2x.png') 2x ) right calc(50% + 1px) no-repeat;
      background-size: rem(18) rem(18);
    }
  }
}

.footer {
  position: relative;
  height: rem(583);
  background-color: #384050;
  text-align: center;

  &_logo {
    margin-top: rem(64);
    width: rem(69);
    height: rem(72);
    border-radius: rem(35) rem(36);
  }

  h3 {
    margin-top: rem(23);
    margin-bottom: rem(190);
    line-height: rem(42);
    font-size: rem(30);
    color: #fff;
    font-weight: normal;
  }

  &_info {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
  }

  p {
    line-height: rem(29);
    font-size: rem(21);
    color: #fff;
  }

  &_phone {
    margin-top: rem(9);
    padding-bottom: rem(27);
    span:nth(1) {
      padding-right: rem(22.5);
    }
  }
}

