@charset "UTF-8";

/* Reset pc端使用 */
* {
  margin: 0;
  padding: 0;
}

i,
em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

a {
  color: #232321;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #f6f6f6;
  font: 12px/1.5 "PingFangSC-Regular", "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
  color: #232321;
}
